<%= form_with(model: @category, local: true) do |f| %>
  <div class="wrapper">
    <div class="header">
      <h3 class="text">New category</h3>
      <a href="<%= categories_path %>" class="btn pull_right">Back</a>
    </div>

    <div>
      <%= f.text_field :title, class:"text_field", required: "required", placeholder: "Title name" %>
    </div>

    <% if @category.errors.any? %>
      <div class="error_message">
        <% @category.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>

    <div>
      <input type="submit" value="Create category" />
    </div>
  </div>
<% end %>
