<main>
  <div class="container">
    <div class="category-wrapper">
      <%= image_tag @image.attachment.thumb.url, class: "image", alt: @image.attachment.identifier %>
    </div>

    <% @image.sub_images.each do |sub_im| %>
      <div class="category-wrapper">
        <%= image_tag sub_im.attachment.thumb.url, class: "image", alt: sub_im.attachment.identifier %>
      </div>
    <% end %>
  </div>
</main>
<p>

<%= link_to 'Back', category_images_path %> |
<%= link_to 'Add a similar picture', new_category_image_path(main_image_id: @image.id) %>
